@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #E23838;
  --color-secondary: #B051F9;
}

.wrapper {
  @apply w-full px-4 sm:px-8 lg:max-w-[700px] lg:mx-auto xl:max-w-[900px];
}

.magic-gradient {
  @apply after:content-[""] after:block after:absolute after:inset-0 after:transition-opacity relative overflow-hidden after:bg-gradient-to-r after:from-primary after:to-secondary;
}

a {
  @apply hover:underline
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Audio Player Styling */

.rhap_container {
  @apply !bg-gray-800 border-t border-t-gray-700; 
}
.rhap_progress-bar-show-download {
  @apply !bg-gray-700;
}
.rhap_progress-filled {
  @apply !bg-gradient-to-r from-primary to-secondary;
}
.rhap_progress-container {
  @apply !m-0;
}
.rhap_main-controls-button {
  @apply !text-white
}
